<!-- Pie de pagina -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>
                    <i class="fas fa-map-marker-alt"></i> Balcarce 50, Ciudad de Buenos Aires, Argentina
                </p>
                <p>
                    <i class="fas fa-phone"></i> <a href="https:/wa.me/error">+1 234 567 890</a>
                </p>
                <p>
                    <i class="fas fa-envelope"></i> <a href="mailto:">info@escalada.com</a>
                </p>
            </div>
            <div class="col-md-4">
                <h5>Seguinos</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Útiles</h5>
                <ul class="list-unstyled">
                    <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
                    <li><a href="/rutas">Rutas de Escalada</a></li>
                    <li><a href="/tienda">Tienda</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="text-center">&copy; 2024 Codo a Codo. Página creada con fines educativos. Creada por Nahuel Lemos.</p>
    </div>
</footer>