<main class="contenido-principal">
    <section class="portada espacio-vertical enfocarTexto">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Descubrí la Emoción de la Escalada</h1>
                    <p>Vení a conocer este maravilloso deporte, rutas desafiantes y viví la aventura al máximo.</p>
                    <a href="/rutas" class="btn btn-primary">Ver Rutas</a>
                </div>
                <div class="col-md-6">
                    <img src="/images/portada.jpg" alt="portada Image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
</main>